*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.sublime-*
*.grunt

.com.apple.timemachine.supported

bower_components
node_modules
pkg
rdoc
spec/reports

*.orig
node_modules
*.rbenv-version
*.ruby-version
/docs2/public/*
.settings
test/tmp
test/version_tmp
tmp
docs/build
vendor
